# Untuk Pengguna dengan NVIDIA GPU (CUDA 12.1)
# File ini akan menginstal Torch versi GPU untuk akselerasi CUDA.

--index-url https://download.pytorch.org/whl/cu121

torch==2.1.2+cu121
torchvision==0.16.2+cu121

diffusers==0.25.1
transformers==4.36.2
accelerate==0.25.0
safetensors==0.4.1
huggingface_hub==0.20.3

fastapi==0.109.0
uvicorn[standard]==0.25.0
python-multipart==0.0.6

Pillow==10.2.0
numpy==1.26.3
